.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form-button {
  width: 100%;
  padding: 10px;
  background-color: #a3f3cf;
  color: #f8f8f8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s;
}

.login-form-button:hover {
  background-color: #30a671;
  transform: translateY(-2px);
}

.login-form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.account-container {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* 전체 화면 높이 */
  background-color: #f0f0f0; /* 배경색 */
}

.account-container div {
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

div > div {
  margin: 20px 0;
  font-size: 24px;
  color: #666;
}

.account-container button {
  margin: 0 10px; /* 버튼 사이의 간격 */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* 버튼 배경색 */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 호버 효과 애니메이션 */
}

.account-container button:hover {
  background-color: #0056b3; /* 버튼 호버시 색상 변경 */
}

.Box {
  margin-top: 20px; /* Box 컴포넌트와 버튼 사이의 간격 */
  background-color: #eee; /* Box 배경색 */
  padding: 15px;
  border-radius: 5px;
}
